---

- name: Download netdata with check (sha256)
  become: false
  run_once: true
  get_url:
    url: "{{ netdata_tarball_url }}"
    dest: "{{ playbook_dir }}/files/{{ netdata_tarball_url | basename }}"
    checksum: "{{ netdata_tarball_checksum }}"
    mode: 0644
  delegate_to: localhost

- name: Check that the netdata executable exists
  become: true
  stat:
    path: /opt/netdata/INSTALLED.VERSION
  register: netdata_installed_version

- name: Read /opt/netdata/INSTALLED.VERSION file
  slurp:
    src: /opt/netdata/INSTALLED.VERSION
  register: netdata_installed_version_string
  when: netdata_installed_version.stat.exists

- name: Download and install netdata
  become: true
  block:
    - name: create temporary file
      tempfile:
        state: file
        suffix: temp
      register: netdata_tmp

    - name: Copy netdata-installer from ansible controller
      no_log: true
      copy:
        src: "{{ playbook_dir }}/files/{{ netdata_tarball_url | basename }}"
        dest: "{{ netdata_tmp.path }}"
        mode: 0644

    - name: Installing netdata
      command: sh "{{ netdata_tmp.path }}" --accept -- --dont-start-it

    - name: Save /opt/netdata/INSTALLED.VERSION file
      copy:
        content: "{{ netdata_tarball_release }}"
        dest: /opt/netdata/INSTALLED.VERSION
        mode: 0644

  always:
    - name: Remove temporary netdata file
      file:
        path: "{{ netdata_tmp.path }}"
        state: absent
  when: not netdata_installed_version.stat.exists
        or ((netdata_installed_version_string.content | default('') | b64decode) != netdata_tarball_release)
