{{ ansible_managed | comment(decoration="#") }}

# Manually exec tmpfiles rules:
# sudo systemd-tmpfiles --create

{% for parameter in netdata_ksm_config.keys() | sort %}
w {{ netdata_ksm_sys_path | regex_replace('\\/$', '') }}/{{ parameter }} - - - - {{ netdata_ksm_config[parameter] }}
{% endfor %}
